.btn{
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 14px;
    border-radius: 2rem;
    text-decoration: none;
    color: #fff;
}
.btn-primary{
    background-color: $color-primary;
}