
.heading-1{
    font-size:  4rem;
    width: 65%;
    text-align: center;
    margin: 0 auto;
    // margin-top: 10rem;
    // color: #fff;
    // font-weight: 500;
    color: #fff;
}
.main-paragraph{
    font-size: 2.5rem;
    width: 65%;
    text-align: center;
    font-weight: 300;
}
.heading-2{
    font-size: 3rem;
}
.heading-3{
    font-size: 2.5rem;
}
.heading-4{
    font-size: 2.2rem;
}
